<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body{
            background-color: blanchedalmond;
        }
        </style>
</head>

<body>
    
    <div class="main-content">
        {{>header}}
        <p> Page not found, Contact Kashif Jamshed for furthur assistance or you can email him to talktokashiif@gmail
                           or You can check out his Github Profile  
                           <a href="https://github.com/kashifalam7"> ClickMe</a></p>
    </div>
    
    {{>footer}}
    
</body>

</html>