<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body{
            background-color: burlywood;
        }
    </style>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> My name is Kashif Jamshed final year student from Jaypee Institute of information Technology,Noida</p>
        <p>For any help please Contact to Kashif Jamshed to their official Website</p>
        <p> Contact for any changes in this website, It will be greatly Appriciated</p>
        <a href='https://github.com/kashifalam7/'><button>GitHub</button></a>
        <a href='https://www.linkedin.com/in/kashifjamshed7'><button>LinkedIN</button></a>
    </div>
    
    {{>footer}}
</body>

</html>